<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/adminStyle.css">

    <title>AdminHub</title>
</head>
<body>

<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">AdminHub</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a th:href="@{/admin/dashboard}">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li >
            <a th:href="@{/employee/admin/employeesList}">
                <i class='bx bxs-user-circle' ></i>
                <span class="text">Employees</span>
            </a>
        </li>
        <li >
            <a th:href="@{/pdf/generate}">
                <i class='bx bxs-file-export'></i>
                <span class="text">Export Data</span>
            </a>
        </li>
        <li >
            <a th:href="@{/auth/register}">
                <i class='bx bxs-user-plus'></i>
                <span class="text">Add new employee</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu bottom">

        <li>
            <a th:href="@{/auth/logout}" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu'></i>
        <a href="#" class="nav-link"></a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main style="margin-top: -20px">
        <div class="head-title">

        </div>

        <ul class="box-info">
            <li>
                <i class='bx bxs-group'></i>
                <span class="text">
                    <h3 th:text="${totalEmployeeCount}"></h3>
                    <p>Employees</p>
                </span>
            </li>
            <li>
                <i class='bx bxs-group'></i>
                <span class="text">
                    <h3>2834</h3>
                    <p>Visitors</p>
                </span>
            </li>
            <li>
                <i class='bx bxs-dollar-circle'></i>
                <span class="text">
                    <h3>$2543</h3>
                    <p>Total Sales</p>
                </span>
            </li>
        </ul>

        <div class="chart">
            <div style="height: 300px">
                <div>
                    <form method="get" action="/admin/dashboard">

                        <input type="date" name="selectedDate" id="selectedDate" th:value="${selectedDate}">
                        <button type="submit">Show </button>
                    </form>
                </div>

                <div style="height: 240px ;margin-top: 10px">
                    <p>Rating Statistics for [[${selectedDate}]] </p>
                    <canvas id="ratingChart" style="height: 200px"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script th:inline="javascript">
                    var ratingStatistics = /*[[${ratingStatistics}]]*/;
                    var labels = Object.keys(ratingStatistics);
                    var data = Object.values(ratingStatistics);

                    var ctx = document.getElementById('ratingChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Rating Statistics',
                                data: data,
                                backgroundColor: 'rgba(75, 192, 192, 0.1)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    stepSize: 1,
                                }

                            }
                        }
                    });
                </script>
            </div>
        </div>
    </main>
    <style>
        .chart{
            background-color:  #f9f9f9;
            height: 350px;
            width: 500px;
            margin-top: 15px;
            padding: 10px;
            border-radius: 15px;
        }
        button{
            background-color: #3c5077;
            border-radius: 5px;
            color:#f9f9f9;
            width: 60px;
            padding: 5px;
        }
        input{
            height: 25px;
        }
        p{
            align-items: center;
            text-align: center;
        }

    </style>
</section>
<!-- CONTENT -->
</body>
</html>
