<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/fedback.css">
    <title>Formulaire de Feedback</title>
</head>
<body>
<h1>Formulaire de Feedback</h1>

<form action="/submit-feedback" method="post">
    <label for="date">Date :</label>
    <input type="date" id="date" name="date" required><br>

    <label for="feedback">Feedback :</label>
    <textarea id="feedback" name="value" rows="4" required></textarea><br>

    <button type="submit">Soumettre</button>
</form>
</body>
</html>