<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <!-- My CSS -->
  <link rel="stylesheet" href="/css/adminStyle.css">

  <title>AdminHub</title>
</head>
<body>


<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">AdminHub</span>
  </a>
  <ul class="side-menu top">
    <li >
      <a th:href="@{/admin/dashboard}">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="active">
      <a th:href="@{/employee/admin/employeesList}">
        <i class='bx bxs-user-circle' ></i>
        <span class="text">Employees</span>
      </a>
    </li>
    <li >
      <a th:href="@{/pdf/generate}">
        <i class='bx bxs-file-export'></i>
        <span class="text">Export Data</span>
      </a>
    </li>
    <li >
      <a th:href="@{/auth/register}">
        <i class='bx bxs-user-plus'></i>
        <span class="text">Add new employee</span>
      </a>
    </li>

  </ul>
  <ul class="side-menu bottom">
    <li>
      <a th:href="@{/auth/logout}" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text" >Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-menu' ></i>

  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>



    <div class="table-data">
      <div class="order">
        <div class="head">
          <form action="#">
            <div class="form-input">
              <input type="search" placeholder="Search...">
              <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
          </form>
        </div>
        <table>
          <thead>
          <tr>
            <th>Fist Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="employee : ${employees}">
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getLastName()}"></td>
            <td th:text="${employee.getEmail()}">Employee</td>
            <td th:if="${employee.isStatusEnTravail()}"><span class="status completed">working ... </span></td>
            <td th:if="${employee.isStatusEnPause()}"><span class="status process">In a Break</span></td>
            <td th:if="${employee.isStatusDehors()}"><span class="status pending">Outside</span></td>
            <td><a th:href="'/employee/admin/rapport?id='+${employee.getId()}"><span class="status details">details</span></a></td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->


<script src="/js/script2.js"></script>
</body>
</html>