<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    <title>Document</title>
</head>
<body>
<section>
    <header>
        <a href="#" class="Logo"> <img src="/images/Logo.svg" alt="logo"> </a>
        <ul>
            <li><a href="#">my information</a></li>
            <li><a th:href="@{/auth/logout}">log out</a></li>
        </ul>
    </header>
    <div class="content">
        <div class="textBox">
            <h2>Welcome <span th:if="${session.loggedInEmployee != null}" th:text="${session.loggedInEmployee.getFirstName()}"></span></h2>
            <p> Good morning, team! Wishing you all a fantastic day ahead. <br> Make it a productive and positive one!</p>
            <img src="/images/manage1.jpg" alt="">
        </div>

        <div th:if="${!session.workDayHasEnded}" class="GestionBox">
            <div class="work">
                <a th:if="${session.loggedInEmployee.isStatusDehors()}"
                   th:href="@{'/workDay/startDay'}">Start Work</a>
            </div>
            <div class="work">
                <a th:if="${session.loggedInEmployee.isStatusEnTravail() or session.loggedInEmployee.isStatusEnPause()}"
                   th:href="@{'/workDay/endDay'}">End Work</a>
            </div>
            <div class="pause">
                <a th:if="${session.loggedInEmployee.isStatusEnTravail()}"
                        id="startButton" style="cursor: pointer;" th:href="@{'/pause/startPause'}">Start Pause</a>
                <a th:if="${session.loggedInEmployee.isStatusEnPause()}"
                        id="stopButton" style="cursor: pointer;" th:href="@{'/pause/endPause'}">End Pause</a>
            </div>
            <div class="chronometer">
                <span id="timer">00:00:00</span>
            </div>
        </div>


        <div th:if="${session.workDayHasEnded}" class="GestionBox">
            <span>You are done today, Come Back tomorrow.</span>
        </div>
    </div>
</section>
</body>
<script type="text/javascript" src="/js/script.js"></script>
</html>